body{
    background-image:url("back.jpg") ;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Courier New", Courier, monospace;
}


a{
    color: rgb(72, 106, 122);
}
a:hover{
    color: black;
}


.inf{
   height :400;
   width: 500px; 
   float: left;
   margin-left:130px;
   position:fixed;
   border: 4px solid rgb(72, 106, 122);
   border-radius: 7px;
   padding:10px;
   overflow: auto;
   background-color:rgb(250, 242, 250,0.75);
}

.img{
    border: 4px solid rgb(72, 106, 122);
    border-radius: 7px;
    float:right;
}

.inf li{
 margin: 15px;
}

li.user{
    list-style-image: url("avatar.png");
}
li.home{
    list-style-image: url("placeholder.png");
}
li.id{
    list-style-image: url("bar-graph.png");
}
li.mail{
    list-style-image: url("internet.png");
}

footer {
    margin-top:50px;
    margin-bottom:7px;
}


.skills,.education, .me{
    width: 600px;
    margin-left:680px;
    display: fixed;
    border: 4px solid rgb(72, 106, 122);
    border-radius: 7px;
    padding: 10px;
    background-color:rgb(250, 242, 250,0.75);
}


.outer{
    border:4px solid rgb(83, 120, 138);
    border-radius: 10px;
}

.box{
   font-size : 0.7em;
   padding:8px;
   width : calc(100%-20px);
   background-color:rgb(83, 120, 138);
   color:white;
}

.boxx{
    font-size: 0.7em;
    padding:8px;
    width : 400px;
    background-color:rgb(83, 120, 138);
    color:white;
}


ul, .details, footer{
    list-style-type:square;
    font-size: 0.6em;
    font-weight: 500;
}



.header{
    font-size:0.78em;
    text-align:left;
    color:rgb(72, 106, 122);
}


.subskills{
    font-size:0.69em;
    font-style: bold;
    text-align:left;
}
